// BEM & SASS styles definition of <header className='header'> 

// B = base 'header'
.header {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin: $s-pm; 
    padding: $s-pm;
    color: $black;
    height: 12vh;
    border-bottom: $min-border solid red;

    &.light-theme {
        background-color: $light-theme;
    }
    
    &.dark-theme {
        background-color: lighten($dark-theme, 15%);
    }

    // E = element 'header__title'
    &__title {
        font-size: $l-fs;
        margin: 0;
        color: $black;
    }

    // E = element 'header__subtitle'
    &__subtitle {
        font-size: $m-fs;
        margin: 0;
        color: $off-black;
    }

    // E = element 'header__toggle-switch'
    &__toggle-switch {
        font-size: $m-fs;
        margin: 0;
        color: $off-black;
        font-weight: $l-fw;
        width: 30px;
        height: 30px;
    }
}