.custom-switch .custom-switch {
    padding-left: 1rem;
}

.custom-control-input:checked ~.custom-control-label::before {
    color: #fff;
    border-color: $grey;
    background-color: $grey;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: darken($grey, 10%);
}
