*,
*::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  color: #646464;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ddd;
  width: 70%;
  max-width: 70rem;
  margin: 20px auto;
  padding: 2rem;
}

.container--accordion {
  width: 80%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.beatLoader {
  border: 0px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f4f4f4;
  margin: 1.5rem;
  padding: 1.5rem;
  color: #202020;
  height: 12vh;
  border-bottom: 4px solid red;
}

.header__title {
  font-size: 2.4rem;
  margin: 0;
  color: #202020;
}

.header__subtitle {
  font-size: 1.8rem;
  margin: 0;
  color: #2f2f2fd3;
}

.header__toggle-switch {
  font-size: 1.8rem;
  margin: 0;
  color: #2f2f2fd3;
  font-weight: 900;
  width: 30px;
  height: 30px;
}

.button {
  cursor: pointer;
  border: none;
  width: 100%;
  padding: 2rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 4rem;
}

.button:focus {
  outline: 0;
}

.button__small {
  padding: 1.5rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
}

.button__large {
  padding: 3rem;
  font-weight: 900;
  margin-bottom: 3rem;
}

.button--link {
  background-color: none;
  color: #ddd;
  opacity: 0.8;
  padding: 0;
}

.button--danger {
  color: #f30d0d;
}

.accordion {
  color: #ddd;
}

.accordion__button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.accordion__button:hover {
  background-color: #d0d0d0;
}

.accordion__info {
  font-size: 1.4rem;
  color: #646464;
  padding: 1rem;
}

.accordion__info-text {
  color: #2f2f2fd3;
  font-weight: 500;
  font-size: 1.8rem;
  text-align: left;
  margin-left: 15px;
}

.accordion--title {
  font-weight: 900;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.accordion--subtitle {
  color: #202020;
  font-size: 1.4rem;
}

.accordion__icon {
  padding: 2rem;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.accordion__icon:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.accordion__text {
  font-size: 1.4rem;
  color: #646464;
  margin: 0 auto;
  padding: 1rem;
}

.accordion__content {
  width: 100%;
  margin: 0 auto;
  border-left: 4px solid red;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: max-height 0.15s ease-in-out;
  transition: max-height 0.15s ease-in-out;
}

.accordion--open {
  max-height: 100%;
}

.accordion--dark-theme {
  background-color: #070707;
  color: #ddd;
}

.accordion--light-theme {
  background-color: #f4f4f4;
  color: #202020;
}

@media (max-width: 900px) {
  .container {
    width: 85%;
    max-width: 50rem;
    margin: 10px auto;
    padding: 1rem;
  }
  .container--accordion {
    width: 90%;
    max-width: 50rem;
    padding: 0 1rem;
  }
  .accordion__info {
    padding: 0;
  }
  .accordion__button {
    padding: 10px 0px;
  }
  .accordion__info-text {
    font-size: 1.2rem;
  }
  .accordion__text {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .container {
    width: 100%;
    max-width: 100vh;
    margin: 0px auto;
    padding: 1rem;
  }
  .container--accordion {
    width: 95%;
    padding: 0 5px;
  }
  .header {
    margin: 1rem;
    padding: 1rem;
    height: 18vh;
  }
}
/*# sourceMappingURL=styles.css.map */