.app-container {
    box-sizing: border-box;
    width: 70%;
    max-width: 70rem;
    margin: $m-pm auto;
    padding: $m-pm;

	&.dark-theme {
		background-color: darken($dark-theme, 5%);
		color: $off-white;
	}


	&.light-theme {
		background-color: darken($ligth-theme, 5%);
		color: $black;
	}
}

.accordion-container {
    box-sizing: border-box;
    width: 80%;
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 $xs-pm;

    &.dark-theme {
        background-color: darken($dark-theme, 10%);
        color: $off-white;
    }

    &.light-theme {
        background-color: darken($ligth-theme, 10%);
        color: $black;
    }
}

.beatLoader {
    border: 0px solid red;
    display: flex;
    height: 80vh;
    justify-content: center; 
    align-items: center;
}