@media (max-width: 900px) {
    .container {
        width: 85%;
        max-width: 50rem;
        margin: 10px auto;
        padding: $xs-pm;

        &--accordion {
            width: 90%;
            max-width: 50rem;
            padding: 0 $xs-pm;
        }
    }

    .accordion {
        &__info {
            padding: 0;
        }

        &__button {
            padding: 10px 0px;
        }
        &__info-text {
            font-size: $xs-fs;
        }
        &__text {
            font-size: $xs-fs;
        }
    }
}

@media (max-width: 400px) {
    .container {
        width: 100%;
        max-width: 100vh;
        margin: 0px auto;
        padding: $xs-pm;

        &--accordion {
            width: 95%;
            padding: 0 5px;
        }
    }

    .header {
        margin: $xs-pm; 
        padding: $xs-pm;
        height: 18vh;
    }
}