// Base colors
$background-color-light: #eee;
$background-color-dark: #888;
$white: #fff;
$off-white: #ddd;
$black: #202020;
$off-black: #2f2f2fd3;
$grey: #666;
$off-grey: #ccc;
$dark-grey: rgb(100, 100, 100);
$red: #f30d0d;
$blue: #1d2fce;
$dark-blue: #364051;
$green: #23ce39;

// Theme dark/light mode
$light-theme: $background-color-light;
$dark-theme: $background-color-dark;

// Fonts stack
$font-stack: 'Helvetica', 'Roboto', 'Arial', sans-serif;

// Border 
$min-border: 0.4rem; 

// Padding & Margin 
$min-pm: 0.5rem; 
$xs-pm: 1rem;
$s-pm: 1.5rem;
$m-pm: 2rem;
$l-pm: 3rem;
$xl-pm: 4rem;

// Font size 
$xs-fs: 1.2rem;
$s-fs: 1.4rem;
$m-fs: 1.8rem;
$l-fs: 2.4rem;
$xl-fs: 3rem;


// Fonts weight
$xs-fw: 100;
$s-fw: 200;
$m-fw: 500;
$l-fw: 900;

// Breakpoints
$desktop-breakpoint: 900px;
$tablet-breakpoint: 750px;
$mobile-breakpoint: 600px;